@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #D7263D; /* Default Red */
}

body {
  background-color: #030712;
  color: #f3f4f6;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #030712; }
::-webkit-scrollbar-thumb { background: var(--primary-color); border-radius: 3px; }

/* Utility for the "Scanner" line */
.scan-line {
  background: linear-gradient(to bottom, transparent, var(--primary-color));
  opacity: 0.2;
}